<% if users.exists? %>
  <div class="table-responsive">
    <table class="table my-3">
      <thead class="thead-light">
        <tr>
          <th>ユーザーネーム</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>フォロー数：<%= user.followings.count %></td>
          <td>フォロワー数：<%= user.followers.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>ユーザーはいません</p>
<% end %>