<!--キーワード検索結果の画面-->
<div class="container">
  <% if @range == "Post" %>
    <div>
      <%= render 'public/posts/post_index', posts: @posts %>
    </div>

  <% else %>
    <% @users.each do |user| %>
      <%= user.name %>
      <%= user.introduction %>
    <% end %>
  <% end %>

</div>
