<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <p>サイドバー</p>
    </div>

    <div class="col-9">
      <%= @user.name %>
      <div>
      <%= link_to "編集する", edit_user_path(@user) %>
      </div>
    </div>


  </div>
</div>


