<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <p>サイドバー</p>
      <%= link_to "新規投稿", new_post_path %>
    </div>

    <div class="col-9">
      <%= @user.name %>
      <div>
        <%= link_to "編集する", edit_user_path(@user) %>
      </div>

      <% if @user == current_user %>
        <div>
          <%= link_to "退会する", unsubscribe_path(@user) %>
        </div>
      <% end %>
    </div>


  </div>
</div>


